@types:registry=https://registry.npmjs.org
@btypes:always-auth=false
@babel:registry=https://registry.npmjs.org
@babel:always-auth=false
registry=http://nexus.cxengagelabs.net/content/groups/npm-all/
always-auth=true
init.author.name=Jenkins
email=titan-eng@liveops.com
_auth="bnBtOkxpdmVvcHMxIQ=="
